/DisMELS.properties
/DisMELS_Framework_src.zip
/DisMELS_GenericCode_src.zip
/DisMELS_ROMS_src.zip
/DisMELS_SimpleLHSs_src.zip
/Thumbs.db
/DisMELS_SimpleLHSs/DisMELS_SimpleLHSs-src.zip
/DisMELS_SimpleLHSs/VerticalVelocityWorksheet.xlsx
/DisMELS_ROMS/DisMELS_ROMS-src.zip
/DisMELS_IBMFunctions/DisMELS_IBMFunctions-src.zip
/DisMELS_Framework/DisMELS_Framework-src.zip
/dist/
/DisMELS_ROMS/build/
/build/
/DisMELS_Framework/build/